.figura {
    margin-bottom: $spacing-unit / 2;
}

.fb-share-button {
    margin-top: $spacing-unit / 2;
}

ul.pager { 
    display: flex; 
    list-style: none;
    justify-content: space-between;
    margin: 0;
}
ul.pager li {
    border: 1px solid $grey-color-light; 
    padding: 10px; 
    margin: 5px;
}